.chat-message-user {
  /* 
                3-rules for using flexbox functionality:
                    a. wrap target element with a container that can be style (Example: div)
                    b. give flex box property to container style (display: flex)
                    c. use flexbox features such as flex-grow to expand the container, covering available space,
                    or justify-content to align element horizontally
            */
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-profile {
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}
